SECRET_KEY=django-insecure-your-secret-key-here-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

POSTGRES_DB=prismteam
POSTGRES_USER=prismteam_user
POSTGRES_PASSWORD=prismteam_pass

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://redis:6379

RENDER_BACKEND_URL=https://prismteam-backend.onrender.com
RENDER_FRONTEND_URL=https://prismteam-frontend.onrender.com